body {
    background-color: #f3f0ea;
}

.logo {
    width: 80px;
    height: auto;
    vertical-align: middle;
    margin-right: 15px;
}

.fejlec-szoveg {
    display: inline-block;
    vertical-align: middle;
}

.user-info {
    padding-top: 18px;
}

.user-info strong {
    color: #ffb366;
}

.w3-orange {
    background-color: #c47a2c !important;
}

h2, h3 {
    color: #9b5519;
}

input, textarea, select {
    margin-bottom: 12px;
}


.edc-menu {
    text-align: center;
}

.edc-menu-link {
    font-weight: bold;
}

